/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383534;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffcc80;
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    background-color: #fff;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    text-align: left;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.text-content {
    flex: 1;
    padding: 30px;
}

.text-content h1 {
    font-size: 36px;
    color: #8d6e63;
    margin-bottom: 15px;
}

.text-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
}

/* Image Styling */
.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    background-color: #2f2c2b;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        padding: 20px;
    }

    .image-content img {
        width: 80%;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
